{% load admin_static %}


<link rel="stylesheet" type="text/css" href="{% static "jqGrid/css/ui.jqgrid.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jquery-ui-1.10.2.custom/css/pepper-grinder/jquery-ui-1.10.2.custom.min.css" %}" />


<script src="{% static "jqGrid/js/jquery-1.9.0.min.js" %}" type="text/javascript"></script>
<script src="{% static "jqGrid/js/i18n/grid.locale-cn.js" %}" type="text/javascript"></script>
<script src="{% static "jqGrid/js/jquery.jqGrid.min.js" %}" type="text/javascript"></script>
<script src="{% static "jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/test.js" %}" type="text/javascript"></script>


<body>
<table id="gridTable">a</table>
<div id="gridPager">b</div>
</body>