{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load workcenter_tags %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}"/>
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}

    <script src="{% static "admin/js/wc/requirement.js" %}" type="text/javascript"></script>

    {# 由于需要读取变量值，未放入requirement.js中 #}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}


{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}{% if actions_on_top or actions_on_bottom %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function ($) {
                    $("tr input.action-select").actions();
                });
            })(django.jQuery);
        </script>
    {% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {#&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>#}
            &rsaquo; <a href="/admin/workcenter/">工作中心</a>
            &rsaquo; 需求管理
        </div>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if has_add_permission %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}"
                               class="addlink">
                                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            {% endif %}
        {% endblock %}
        {% if cl.formset.errors %}
            <p class="errornote">
                {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}
                    Please correct the errors below.{% endblocktrans %}
            </p>
            {{ cl.formset.non_form_errors }}
        {% endif %}
        <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
            {#      {% block search %}{% search_form cl %}{% endblock %}#}
            {#      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}#}

            {% block filters %}
                {% if cl.has_filters %}
                    <div id="changelist-filter">
                        <h2>{% trans 'Filter' %}</h2>
                        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            <div class="results">
                <div id="requirementQuery">
                    <div id="query">
                        <label>需求名称：</label><input type="text" onkeydown="doSearch(arguments[0]||event)" class="input" id="search_requirement_name"/>
                        <label>需求类别：</label><input type="text" onkeydown="doSearch(arguments[0]||event)" class="input" id="search_requirement_type"/>
                        <button onclick="gridReload()" id="submitButton" style="margin-left:30px;">查 询</button>
                        <input type="checkbox" id="autosearch" onclick="enableAutosubmit(this.checked)" style="margin-left:30px;">自动查询
                    </div>

                    <input type="button" class="btn" id="add_btn" value="新 增"/>
                    <input type="button" class="btn" id="del_btn" value="删 除"/>
                </div>

                <div style="padding: 5px 5px 5px 5px">
                    <table id="requirementTable"></table>
                    <div id="requirementPager"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}